---
layout: default
---
<section class="page-content section-feature">
    <div class="wrapper">
        <h2 class="page-heading">
            Parceiros
        </h2>

        <div data-grid="spacing wrap">

        {% for parceiro in site.parceiros %}

            <p data-cell><a href="{{ parceiro.url }}">{{ parceiro.title }}</a></p>

        {% endfor %}

        </div>
    </div>
</section>

<section class="page-content section-about">
    <div class="wrapper" data-grid="spacing">
        <article data-cell="2of3">
            <h2 class="page-heading">
                {{ site.description }}
            </h2>
            {% assign about_url = "/sobre/" %}
            {% for page in site.pages | where: "permalink", about_url %}
            <p>
                {{ page.excerpt }}
            </p>
            {% endfor %}
            <p>
                <a href="{{ about_url | prepend: site.baseurl }}">
                    Saiba mais...
                </a>
            </p>
        </article>
        <aside class="post-list" data-cell="shrink">
            {% include post-list.html limit = 3 %}
        </aside>
    </div>
</section>
