%negativo
    background-color: $vermelho-escuro
    color: #fff
    a
        color: $amarelo

.site-header
    padding: $spacing-unit 0

    +media-query($on-palm)
        padding: 0

.site-title
    margin: 0
    float: left

    +media-query($on-palm)
        img
            max-height: 30px
            width: auto

.site-nav
    position: relative
    z-index: 999
    .menu-icon
        display: none
    .page-link
        margin-left: $spacing-unit

    +media-query($on-palm)
        .menu-icon
            display: block
            float: right
            height: 56px
            text-align: center
            > svg
                width: 35px
                height: 55px
                color: inherit
                path
                    fill: currentcolor
        .trigger
            clear: both
            display: none
            position: absolute
            top: 100%
            right: 0
            box-shadow: -5px 5px 30px -5px $grey-color-dark
        &:hover .trigger
            display: block
            background-color: $amarelo
        .page-link
            display: block
            padding: 15px
            color: $text-color


.section-search

.search-form
    position: relative

    input, select, textarea, button
        outline: none
        font-size: $base-font-size * 1.4

        +media-query($on-palm)
            font-size: $base-font-size
            button
            font-size: $small-font-size

.search-results-container
    margin-top: $spacing-unit
    background-color: $grey-color-light
    &:before
        content: ''
        display: table

.search-results
    .resultado
        padding: $spacing-unit / 2
        background-color: #fff
        border-radius: 4px
        box-shadow: 0 2px 3px 0 rgba($grey-color, .1)
        margin-bottom: $spacing-unit
        animation: getup .5s forwards ease-in-out
        @for $i from 1 through 10
            &:nth-of-type(#{$i})
                animation-duration: .5s * $i
    .title
        margin-top: 0
        line-height: 1
    .logo
        max-width: 175px
    .meta
        color: $grey-color

@keyframes getup
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)


.site-footer
    padding: $spacing-unit 0

.page-content
    padding: $spacing-unit 0

.page-title
    font:
        family: $page-title-family
        size: 40px

.post-list
    max-width: 24em
.post-meta
    color: $grey-color
    font-size: .7em
    text-transform: uppercase
.post-link
    display: block
.post-header
.post-title
.post-content

