%negativo
    background-color: $vermelho-escuro
    color: #fff
    a
        color: $amarelo

.site-header
    padding: $spacing-unit / 2 0
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 99

    +media-query($on-palm)
        padding: 0

.site-title
    margin: 0
    float: left

    +media-query($on-palm)
        img
            max-height: 30px
            width: auto

.site-nav
    position: relative
    z-index: 999
    .menu-icon
        display: none
    .page-link
        margin-left: $spacing-unit
        color: $grey-color-dark

    +media-query($on-palm)
        .menu-icon
            display: block
            float: right
            height: 56px
            text-align: center
            > svg
                width: 35px
                height: 55px
                color: inherit
                path
                    fill: currentcolor
        .trigger
            clear: both
            display: none
            position: absolute
            top: 100%
            right: 0
            box-shadow: -5px 5px 30px -5px $grey-color-dark
        &:hover .trigger
            display: block
            background-color: $amarelo
        .page-link
            display: block
            padding: 15px
            color: $text-color

.site-footer
    padding: $spacing-unit 0

.page-content
    padding: $spacing-unit 0

.page-title
    font:
        family: $page-title-family
        size: 40px

.post-list
    max-width: 24em
.post-meta
    color: $grey-color
    font-size: .7em
    text-transform: uppercase
.post-link
    display: block
.post-header
.post-title
.post-content



.section-search
    background-color: lightskyblue
    padding: $spacing-unit * 4 $spacing-unit / 2 $spacing-unit * 2

.search-form
    position: relative
    max-width: $on-laptop
    margin: auto

    input, select, textarea, button
        font-size: $base-font-size * 1.2

        +media-query($on-palm)
            font-size: $base-font-size
            button
                font-size: $small-font-size

$search-results-color: rgba(black, .1)

.search-results-container
    display: table
    margin-top: $spacing-unit
    position: relative
    border-radius: 6px
    &.active
        background-color: $search-results-color
        animation: getup .3s forwards ease-in-out
        &:before
            content: ''
            display: table
            position: absolute
            top: -1em
            left: 20%
            border-style: solid
            border-width: 0 1em 1em
            border-color: transparent transparent $search-results-color

.search-results
    > p
        color: #fff
    .resultado
        padding: $spacing-unit / 2
        background-color: rgba(#fff, .7)
        color: $text-color
        border-radius: 4px
        box-shadow: 0 2px 3px 0 rgba($grey-color, .1)
        margin-bottom: $spacing-unit
        animation: getup .5s forwards ease-in-out
        +media-greater($on-palm)
            max-width: 48.8%
        @for $i from 1 through 10
            &:nth-of-type(#{$i})
                animation-duration: .5s * $i
    .title
        margin-top: 0
        line-height: 1
    .logo
        margin-right: $spacing-unit
        +media-greater($on-palm)
            max-width: 160px
            padding: $spacing-unit / 2
            background-color: #fff
    .meta
        color: $grey-color

@keyframes getup
    0%
        opacity: 0
        transform: translateY(100px)
    100%
        opacity: 1
        transform: translateY(0)

