%negativo
    background-color: $vermelho-escuro
    color: #fff
    a
        color: $amarelo

.site-header
    padding: $spacing-unit 0

    +media-query($on-palm)
        padding: 0

.site-title
    margin: 0
    float: left

    +media-query($on-palm)
        img
            max-height: 30px
            width: auto

.site-nav
    position: relative
    .menu-icon
        display: none
    .page-link
        margin-left: $spacing-unit

    +media-query($on-palm)
        .menu-icon
            display: block
            float: right
            height: 56px
            text-align: center
            > svg
                width: 35px
                height: 55px
                color: inherit
                path
                    fill: currentcolor
        .trigger
            clear: both
            display: none
            position: absolute
            top: 100%
            right: 0
            box-shadow: -5px 5px 30px -5px $grey-color-dark
        &:hover .trigger
            display: block
            background-color: $amarelo
        .page-link
            display: block
            padding: 15px
            color: $text-color


.section-search

.search-form
    position: relative

    input, select, textarea, button
        outline: none
        font-size: $base-font-size * 1.4

        +media-query($on-laptop)
            padding: 0

        +media-query($on-palm)
            font-size: $base-font-size

.search-results



.site-footer
    padding: $spacing-unit 0

.page-content
    padding: $spacing-unit 0

.page-title
    font:
        family: $page-title-family
        size: 40px

.post-list
    max-width: 24em
.post-meta
    color: $grey-color
    font-size: .7em
    text-transform: uppercase
.post-link
    display: block
.post-header
.post-title
.post-content

