---
layout: compress
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    {{ content }}
    {% include footer.html %}

	<script src="{{ '/js/augment.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/js/lunr.min.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/js/HTTP.js' | prepend: site.baseurl }}"></script>
	<script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
  <script>

    const BASE_URL = '{{ "/" | prepend: site.baseurl }}';
    
    window.data = [ {% for p in site.parceiros %}{% if forloop.index0 > 0 %},{% endif %}{% assign page_name = p.url | remove: '/' %}
      {
        "title"    : {{ p.title | jsonify }},
        "logo"     : {{ p.logo | jsonify }},
        "cover"    : {{ p.cover | jsonify }},
        "endereco" : {{ p.endereco | jsonify }},
        "bairro"   : {{ p.bairro | jsonify }},
        "cidade"   : {{ p.cidade | jsonify }},
        "horario"  : {{ p.horario | jsonify }},
        "telefone" : {{ p.telefone | jsonify }},
        "site"     : {{ p.site | jsonify }},
        "maps"     : {{ p.maps | jsonify }},
        "url"      : {{ p.url | jsonify }},
        "content"  : {{ p.content | newline_to_br | replace: '<br />', ' ' | strip_html | strip_newlines | jsonify }},
        "produtos" : {% for c in site.data.produtos %}{% if c[0] == page_name %}{{ c[1] | jsonify }}{% endif %}{% endfor %}
      }{% endfor %} ]

  </script>
	<script src="{{ '/js/search.js' | prepend: site.baseurl }}"></script>

  </body>

</html>
